*{
  margin: 0;
  padding: 0;
  font-family: roboto, sans-serif;
  box-sizing: border-box;
}

.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1F2937;
  padding: 16px;
}

.header p{
  color: #F9FAF8;
  font-size: 24px;
}

.header ul{
  display: flex;
  list-style-type: none;
  gap: 16px;
}

.header a{
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
}

.hero-section{
  display: flex;
  justify-content: space-evenly;
  background-color: #1F2937;
  padding: 48px;
}

.hero-section .first-child{
  max-width: 420px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.hero-section .main-text{
  font-size: 42px;
  font-weight: bolder;
  color: #F9FAF8;
}

.hero-section .secondary-text{
  font-size: 18px;
  color: #E5E7EB;
}

.hero-section button{
  background-color: #3882F6;
  color: #E5E7EB;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: bold;
}

.second-child{
  width: 400px;
  height: 220px;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #E5E7EB;
}

.information-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
  gap: 32px;
}

.information-section .heading{
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
}

.information-section .image{
  width: 125px;
  height: 125px;
  border: 3px solid #3882F6;
  border-radius: 8px;
}

.information-section .images-main-container{
  display: flex;
  gap: 32px;
}

.information-section .images-secondary-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 150px;
  gap: 8px;
}